@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');

.all {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.board {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 500px;
  height: 500px;
  padding: 5px;
  border-radius: 5px;
}

.box {
  border: 3px solid rgb(105 104 138);
  display: flex;
  align-items: center;
  background: none;
  border-radius: 10px;
  background-repeat:no-repeat;
  background-position: center center;
}

.right {
  margin: auto;
}

.reset {
  font-family: 'Lugrasimo', cursive;
  display: block;
  margin: 30px auto 0px;
  font-size: 30px;
  padding: 15px;
  background: none;
  border: 1px solid #000;
  border-radius: 15px;
  cursor: pointer;
  transition: all .5s ease;
}

.reset:hover {
  background-color: blue;
  color: #fff;
  padding: 15px 35px;
}

body {
  background-image: url(images/backgound.jpg);
}

#cross, #nought {
  position:absolute;
  top: 10px;
  right: 300px;
  width: 25%;
  visibility: visible;
}

#nought {
  z-index: 0;
}

#cross {
  z-index: -1;
}