@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

* {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.all {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

.board {
  grid-column: 2/2;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 500px;
  height: 500px;
  padding: 5px;
  border-radius: 5px;
}

.box {
  border: 8px solid rgb(58, 57, 75);
  margin: 5px;
  display: flex;
  align-items: center;
  background: none;
  background-size: 100%;;
  border-radius: 10px;
  background-repeat:no-repeat;
  background-position: center center;
}

.ButtonFont {
  background-color: lightgray;
  opacity: 0.85;
  font-family: 'Lugrasimo', cursive;
  font-weight: 600;
  display: block;
  margin: 30px auto 0px;
  font-size: 25px;
  padding: 10px;
  border: 5px solid #000;
  border-radius: 15px;
  cursor: pointer;
  transition: all .5s ease;
}

.winCount {
  font-family: 'Lemon', serif;
  font-size: 50px;
}

.ButtonFont:hover {
  background-color: blue;
  color: #fff;
  padding: 10px 25px;
}

body {
  background: url(images/backgound.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.wonCards {
  display: flex;
margin-top: -40px;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
}

.allButtons {
  display: flex;
  justify-content: center;
}

.controllButtons {
  display: flex;
  width: 30%;
}